/*=====================================================================================================================================
          ####    ### ##   ### ##    ####    ###  #            #######  ##   #    ####     ####     ####    ### ##   #######    ####   
         ### ##   ### ###  ### ###  ### ##   ###  ##  ###      ###  ##  ### ###  ### ##   ### ##   ### ##   ### ###  ###  ##   ### ##  
 ######  ###  ##  #######  #######  ###  ##  #### ##  ###      ###       #####   ###      ###  ##  ###  ##  #######  ###      ###      
###      ###  ##  #### ##  #### ##  ###  ##  #######  ### ##   ######     ###    ######   ######   ###  ##  #### ##  ######    #####   
###      ###  ##  ###  ##  ###  ##  ###  ##  ### ###  #####    ###        ###    ###      #####    #######  ###  ##  ###           ##  
###      ###  ##  ###  ##  ###  ##  ###  ##  ###  ##  ### ##   ###  ##    ###    ###      ### ##   ###  ##  ###  ##  ###  ##   ##  ##  
 ######   #####   ###  ##  ###  ##   #####   ###  ##  ###  ##  #######    ###    ###      ###  ##  ###  ##  ###  ##  #######   #####   
=====================================================================================================================================*/


:root {
    --start-color : rgba(0, 0, 255, 0.2); /* shake開始時の色 */
    --end-color   : blue;                 /* shake終了時の色 */
}
@keyframes shake {
    0% {
        transform: translateX(-4px)  ;
        color    : var(--start-color); 
    }
    100% {
        transform: translateX(4px);   
        color    : var(--end-color); 
    }
}
.shake {
    display   : block;
    color     : var(--start-color);
    animation : shake 0.1s infinite;
}
.shakeRed{
    --start-color : rgba(255, 0, 0, 0.2);
    --end-color   : red;

    display   : block;
    color     : var(--start-color);
    animation : shake 0.1s infinite;
}

/* ロード画面を退出させる */
@keyframes concealHide{
    0%   { transform:translateX( 0px  ); } 
    100% { transform:translateX( 100% ); }
}